
<!-- Page Content  -->
<div id="content-page" class="">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="iq-card">
					<div class="iq-card-header d-flex justify-content-between">
						<div class="iq-header-title">
							<h4 class="card-title">Quản lý voucher</h4>
						</div>
					</div>
					<div class="iq-card-body">
						<form method="post" enctype="multipart/form-data">
							<div class="form-group">
								<label>Mã giảm giá: (<strong>*</strong>)</label> <input type="text"
									class="form-control" ng-model="form.voucherid">
							</div>
							<div class="form-group">
								<label>Tên mã giảm giá: (<strong>*</strong>)</label> <input type="text"
									class="form-control" ng-model="form.name">
							</div>
							<div class="form-group">
								<label>Số tiền giảm: (<strong>*</strong>)</label> <input type="number"
									class="form-control" ng-model="form.discount">
							</div>
							<div class="form-group">
								<label>Hình ảnh: (<strong>*</strong>)</label>
								<div class="custom-file">
									<input type="file" class="custom-file-input" id="image"
										onchange={angular.element(this).scope().imageChanged(this.files)}
										accept="image/**"> <label class="custom-file-label">Choose
										file</label>
								</div>
							</div>
							<div class="form-group">
								<label>Ngày bắt đầu: (<strong>*</strong>)</label> <input type="date"
									class="form-control" ng-model="form.startdate"
									placeholder="2022-01-01">
							</div>
							<div class="form-group">
								<label>Ngày kết thúc: (<strong>*</strong>)</label> <input type="date"
									class="form-control" ng-model="form.enddate">
							</div>

							<button ng-click="create()" class="btn btn-primary"
								ng-hide="index == -1">
								<i class="bi bi-person-plus"></i> Thêm
							</button>
							<button ng-click="update()" class="btn btn-success"
								ng-show="index == -1">
								<i class="bi bi-pencil-square"></i> Cập nhật
							</button>
							<button ng-click="delete(form)" class="btn btn-danger"
								ng-show="index == -1">
								<i class="bi bi-trash3"></i> Xóa
							</button>
							<button ng-click="reset()" class="btn btn-info">
								<i class="bi bi-arrow-clockwise"></i> Làm mới
							</button>
						</form>
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="iq-card">
					<div class="iq-card-header d-flex justify-content-between">
						<div class="iq-header-title">
							<h4 class="card-title">Danh sách voucher</h4>
						</div>
						<div class="iq-header-title">
							<label for="searchInput"><i class="ri-search-eye-line"></i>
								Tìm kiếm:</label> <input type="text" id="searchInput"
								ng-model="searchText">
						</div>
					</div>
					<div class="iq-card-body">
						<div class="table-responsive">
							<table class="data-tables table table-striped table-bordered"
								style="width: 100%">
								<thead>
									<tr>
										<th style="width: 10%;">Mã giảm giá</th>
										<th style="width: 25%;">Tên mã giảm giá</th>
										<th style="width: 10%;">Số tiền giảm (VNĐ)</th>
										<th style="width: 15%;">Hình ảnh</th>
										<th style="width: 15%;">Ngày bắt đầu</th>
										<th style="width: 15%;">Ngày kết thúc</th>
										<th style="width: 10%;">Hoạt động</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in pager.items | filter:searchText">
										<td>{{item.voucherid}}</td>
										<td>{{item.name}}</td>
										<td>{{item.discount | number :0}} VNĐ</td>
										<td><img src="../../../images/voucher/{{item.image}}"
											width="150px" /></td>
										<td>{{item.startdate | date:'dd/MM/yyyy'}}</td>
										<td>{{item.enddate | date : 'dd/MM/yyyy'}}</td>

										<td>
											<div class="flex align-items-center list-user-action">
												<a class="bg-primary" ng-click="edit(item)"><i
													class="ri-pencil-line"></i></a> <a class="bg-danger"
													ng-click="delete(item)"><i class="ri-delete-bin-line"></i></a>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="card-header text-center">
					<button ng-click="pager.first()" class="btn btn-primary">
						<i class="ri-skip-back-fill"></i>
					</button>
					<button ng-click="pager.prev()" class="btn btn-primary">
						<i class="ri-rewind-fill"></i>
					</button>
					<button class="btn btn-success">{{pager.page + 1}} /
						{{pager.count?pager.count:'1'}}</button>
					<button ng-click="pager.next()" class="btn btn-primary">
						<i class="ri-speed-fill"></i>
					</button>
					<button ng-click="pager.last()" class="btn btn-primary">
						<i class="ri-skip-forward-fill"></i>
					</button>
				</div>

			</div>
		</div>
	</div>
</div>

