<div id="content-page" class="content-page">
	<div class="container-fluid">

		<div class="row">
			<div class="col-sm-12">
				<div class="iq-card">
					<div class="iq-card-header d-flex justify-content-between">
						<div class="iq-header-title">
							<h4 class="card-title">Danh sách sách</h4>
						</div>
						<div class="iq-card-header-toolbar d-flex align-items-center">
							<a href="admin-add-book.html" class="btn btn-primary">Thêm
								sách</a>
						</div>
					</div>
					<div class="iq-card-body">
						<div class="table-responsive">
							<table class="data-tables table table-striped table-bordered"
								style="width: 100%">
								<thead>
									<tr>
										<th style="width: 3%;">Mã sách</th>
										<th style="width: 12%;">Hình ảnh</th>
										<th style="width: 15%;">Tên sách</th>
										<th style="width: 15%;">Thể loại sách</th>
										<th style="width: 15%;">Tác giả sách</th>
										<th style="width: 18%;">Mô tả sách</th>
										<th style="width: 7%;">Giá</th>
										<th style="width: 7%;">Sách PDF</th>
										<th style="width: 15%;">Hoạt động</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in pager.items">
										<td>{{item.id}}</td>
										<td><img 
											src="../../../images/book/{{item.image}}" width="70px"  ></td>
										<td>{{item.name}}</td>
										<td>{{item.category.name}}</td>
										<td>Jhone Steben</td>
										<td>
											<p class="mb-0">{{item.discriptions}}</p>
										</td>
										<td>{{item.price | number : 0}}</td>
										<td><a href="book-pdf.html"><i
												class="ri-file-fill text-secondary font-size-18"></i></a></td>
										<td>
											<div class="flex align-items-center list-user-action">
												<a class="bg-primary" data-toggle="tooltip"
													data-placement="top" title="" data-original-title="Edit"
													ng-click="edit(item)"><i class="ri-pencil-line"></i></a> <a
													class="bg-primary" data-toggle="tooltip"
													data-placement="top" title="" data-original-title="Xoá"
													ng-click="delete(item)"><i class="ri-delete-bin-line"></i></a>
											</div>
										</td>
									</tr>


								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>