<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/layout::dynamic(~{::title},~{::body})}">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Giỏ hàng</title>

</head>

<body>
	<div id="content-page" class="content-page">
		<div class="container-fluid checkout-content" style="width: 80%;">
			<div class="row">
				<div id="cart" class="p-0 col-12">
					<div class="row align-item-center">
						<div class="col-lg-12">
							<div class="iq-card">
								<div class="iq-card-header d-flex justify-content-between iq-border-bottom mb-0">
								</div>
								<div class="iq-card-body shopping__cart__table">
									<table class="table">
										<thead>
											<tr>
												<th style="width: 5%;"></th>
												<th style="width: 35%; font-weight: bold;">SÁCH</th>
												<th style="width: 30%;">SỐ LƯỢNG</th>
												<th style="width: 30%;">THÀNH TIỀN</th>
												<th style="width: 10%;"></th>
											</tr>
										</thead>
										<tbody ng-repeat="cd in cartdetails">
											<tr>
												<td><input type="checkbox" name="cdid"
														value="{{cd.id}}" ng-model="selected" ng-checked="exist(cd)"
														ng-click="toggleSelection(cd)" /></td>
												<td>
													<div class="product__cart__item__text">
														<div class="row">
															<div class="col-3">
																<span class="checkout-product-img"> <a href=""><img
																			class="img-fluid rounded"
																			th:src="@{|/images/book/{{cd.book.image}}|}"
																			alt="" style="width: 90%;"></a>
																</span></div>
															<div class="col-9 mt-0">
																<b>{{ cd.book.name | limitTo: 25 }}{{ cd.book.name.length > 25 ? '...' : '' }}</b>
																<br>
																<span>{{cd.book.author.name}}</span>
																<br>
																<span>{{ cd.price | number:0 }} VNĐ</span>
															</div>
														</div>
													</div>
												</td>
												<td class="shop-qty">
													<div class="row">
														<div class="pro-qty-2">
															<span class="fa fa-angle-left dec qtybtn" ng-click="updateminusqty(cd)"></span>
															<input type="number" name="quantity" id="qty" value="{{cd.quantity}}">
															<span class="fa fa-angle-right inc qtybtn" ng-click="updateplusqty(cd)"></span>
														</div>
													</div>
												</td>
												<td><span class="product-price">{{cd.price *
													cd.quantity | number:0 }} VNĐ</span></td>
												<td><i class="fa fa-close" ng-click="showConfirm(cd)"></i>
												</td>
											</tr>
										</tbody>
									</table>
									<div id="notification">Đặt hàng thành công</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="address" class="p-0 col-12" style="display: none;">
					<div class="row align-item-center">
						<div class="col-lg-8">
							<div class="iq-card">
								<div class="iq-card-header d-flex justify-content-between">
									<div class="iq-header-title">
										<h4 class="card-title">Nhập thông tin giao hàng</h4>
									</div>
								</div>
								<div class="iq-card-body">
									<form onsubmit="required()">
										<div class="row mt-3">
											<div class="col-md-6">
												<div class="form-group">
													<label>Họ và tên: *</label>
													<input type="text" class="form-control" name="user" id="user"
														value="{{user.fullname}}" readonly
														style="background-color: white;">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label>Số điện thoại: *</label> <input type="text"
														class="form-control" name="phone" id="phone" value="{{user.phone}}">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="form-label" for="province">Tỉnh/Thành
														phố</label> <select class="form-select form-control"
														id="province"></select>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="form-label" for="district">Quận/Huyện</label>
													<select class="form-select form-control" id="district">
														<option value="">Chọn Quận/Huyện</option>
													</select>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="form-label" for="ward">Phường/Xã</label> <select
														class="form-select form-control" id="ward">
														<option value="">Chọn Phường/Xã</option>
													</select>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-outline mb-4">
													<label class="form-label" for="">Địa chỉ</label>
													<input type="text" id="result" class="form-control" placeholder="Địa chỉ nhận hàng..."/>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-outline mb-4">
													<label class="form-label" for="">Ghi chú</label>
													<input type="text" id="note" class="form-control" placeholder="Ghi chú giao hàng cho Shipper..."/>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="iq-card">
								<div class="iq-card-body">
									<span>Mã giảm giá: </span>
									<div class="row">
										<div class="col-12 col-md-8">
											<div class="mt-3">
												<div class="d-flex align-items-center">
													<select class="form-select form-control" id="voucher">
														<option value="0">Chọn mã giảm giá</option>
														<option ng-repeat="v in myvoucher" value="{{v.voucher.voucherid}}">
															<b>{{v.voucher.voucherid}}</b>
														</option>
													</select>
												</div>
											</div>
										</div>
										<div class="col-12 col-md-4">
											<div class="mt-3">
												<div class="d-flex align-items-center">
													<button class="btn btn-danger" ng-click="checkVoucher()" style="height: 42px;">Áp dụng</button>
												</div>
											</div>
										</div>
									</div>
									
									<hr>
									<p>
										<b>Chi tiết</b>
									</p>
									<div class="d-flex justify-content-between mb-1">
										<span>Tổng</span> <span>{{ttcs | number:0}} VNĐ</span>
									</div>
									<div class="d-flex justify-content-between mb-1">
										<span>Giảm giá</span> 
										<div id="giamgia" class="text-success">0 VNĐ</div>
									</div>
									<div class="d-flex justify-content-between">
										<span>Phí vận chuyển</span>
										<div id="ship">{{0 | number:0}} VNĐ</div>
									</div>
									<hr>
									<div class="d-flex justify-content-between">
										<span class="text-dark"><strong>Tổng</strong></span>
										<div id="total">{{total | number:0}} VNĐ</div>
									</div>
									<div class="iq-card-header d-flex justify-content-between">
										<div class="iq-header-title">
											<h6 class="card-title">Lựa chọn thanh toán</h6>
										</div>
									</div>
									<div class="iq-card-body">
										<div class="card-lists">
											<div class="form-group">
												<div class="custom-control custom-radio">
													<input type="radio" id="cod" name="payment" value="1" checked
														class="custom-control-input"> <label
														class="custom-control-label" for="cod"> Thanh toán
														khi nhận hàng </label>
												</div>
												<div class="custom-control custom-radio">
													<input type="radio" id="netbaking" name="payment" value="0"
														class="custom-control-input"> <label
														class="custom-control-label" for="netbaking">
														Thanh toán VNPay</label>
												</div>
											</div>
										</div>
									</div>
									<hr>
									<button class="btn btn-danger" ng-click="cbthanhtoan()" id="place-order"
										style="width: 100%; background-color: orange; color: aliceblue;">Đặt hàng</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
		integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"
		integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>