<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/layout::dynamic(~{::title},~{::body})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đơn hàng của bạn</title>
    <!-- Link Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style th:inline="text">
        .khuyenmai1 {
            overflow: hidden;
            position: relative;
        }

        .khuyenmai1 img {
            width: 100%;
            height: auto;
            transition: transform 0.3s ease;
        }

        /* Style cho chữ "XEM NGAY" */
        .product-hover {
            position: absolute;
            color: #fff;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: coral;
            color: #fff;
            padding: 10px;
            text-align: center;
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        /* Style khi hover vào */
        .khuyenmai1:hover .product-hover {
            opacity: 1;
        }

        .khuyenmai1:hover img {
            transform: scale(1.1);
        }
    </style>





</head>

<body>
    <div class="container" style="padding-top: 250px;">
        <div class="row">
            <div class="col-lg-6 ">
                <div class="khuyenmai1" style="padding: 5px; position: relative;">
                    <img src="images/khuyenmai3.jpg" style="transition: all 0.3s ease 0s;
                width: 100%;
                height: 250px;">
                    <a class="product-hover" href="#">
                        <i class="icon-link"></i>
                        XEM NGAY
                    </a>
                </div>

                <div class="namekhuyenmai">
                    <h4><span class="ng-binding" style="padding: 5px;
                        color: #DB2704;
                        margin-bottom: 5px;
                        font-weight: 700;">XPPEN CƠN LỐC SIÊU SỐC</span></h4>
                </div>
                <span class="time-line ng-binding" style="color: #F97D00;
                margin-right: 10px;">
                    Từ: 01/10/2022
                </span>
                <span class="time-line ng-binding" style="color: #F97D00;
                margin-right: 10px;">Đến: 25/10/2022</span>
                <h5>
            </div>

            <div class="col-lg-6 ">
                <div class="khuyenmai1" style="padding: 5px; position: relative;">
                    <img src="images/khuyenmai4.jpg" style="transition: all 0.3s ease 0s;
                width: 100%;
                height: 250px;">
                    <a class="product-hover" href="#">
                        <i class="icon-link"></i>
                        XEM NGAY
                    </a>
                </div>

                <div class="namekhuyenmai">
                    <h4><span class="ng-binding" style="padding: 5px;
                        color: #DB2704;
                        margin-bottom: 5px;
                        font-weight: 700;">XPPEN CƠN LỐC SIÊU SỐC</span></h4>
                </div>
                <span class="time-line ng-binding" style="color: #F97D00;
                margin-right: 10px;">
                    Từ: 01/10/2022
                </span>
                <span class="time-line ng-binding" style="color: #F97D00;
                margin-right: 10px;">Đến: 25/10/2022</span>

            </div>
            <div class="col-lg-6 ">
                <div class="khuyenmai1" style="padding: 5px; position: relative;">
                    <img src="images/af406919-481e-417c-8473-5570ac8f4335.jpg" style="transition: all 0.3s ease 0s;
                width: 100%;
                height: 250px;">
                    <a class="product-hover" href="#">
                        <i class="icon-link"></i>
                        XEM NGAY
                    </a>
                </div>

                <div class="namekhuyenmai">
                    <h4><span class="ng-binding" style="padding: 5px;
                        color: #DB2704;
                        margin-bottom: 5px;
                        font-weight: 700;">XPPEN CƠN LỐC SIÊU SỐC</span></h4>
                </div>
                <span class="time-line ng-binding" style="color: #F97D00;
                margin-right: 10px;">
                    Từ: 01/10/2022
                </span>
                <span class="time-line ng-binding" style="color: #F97D00;
                margin-right: 10px;">Đến: 25/10/2022</span>

            </div>
            <div class="col-lg-6 ">
                <div class="khuyenmai1" style="padding: 5px; position: relative;">
                    <img src="images/khuyenmai7.jpg" style="transition: all 0.3s ease 0s;
                width: 100%;
                height: 250px;">
                    <a class="product-hover"
                        href="https://bookbuy.vn/news/1383/khuyen-mai-xppen-con-loc-sieu-soc-giam-gia-len-den-1-500-000d.html">
                        <i class="icon-link"></i>
                        XEM NGAY
                    </a>
                </div>

                <div class="namekhuyenmai">
                    <h4><span class="ng-binding" style="padding: 5px;
                        color: #DB2704;
                        margin-bottom: 5px;
                        font-weight: 700;">XPPEN CƠN LỐC SIÊU SỐC</span></h4>
                </div>
                <span class="time-line ng-binding" style="color: #F97D00;
                margin-right: 10px;">
                    Từ: 01/10/2022
                </span>
                <span class="time-line ng-binding" style="color: #F97D00;
                margin-right: 10px;">Đến: 25/10/2022</span>

            </div>
            <div class="col-lg-6 ">
                <div class="khuyenmai1" style="padding: 5px; position: relative;">
                    <img src="images/khuyenmai6.jpg" style="transition: all 0.3s ease 0s;
                width: 100%;
                height: 250px;">
                    <a class="product-hover" href="#">
                        <i class="icon-link"></i>
                        XEM NGAY
                    </a>
                </div>

                <div class="namekhuyenmai">
                    <h4><span class="ng-binding" style="padding: 5px;
                        color: #DB2704;
                        margin-bottom: 5px;
                        font-weight: 700;">XPPEN CƠN LỐC SIÊU SỐC</span></h4>
                </div>
                <span class="time-line ng-binding" style="color: #F97D00;
                margin-right: 10px;">
                    Từ: 01/10/2022
                </span>
                <span class="time-line ng-binding" style="color: #F97D00;
                margin-right: 10px;">Đến: 25/10/2022</span>

            </div>
            <div class="col-lg-6 ">
                <div class="khuyenmai1" style="padding: 5px; position: relative;">
                    <img src="images/khuyenmai1.jpg" style="transition: all 0.3s ease 0s;
                width: 100%;
                height: 250px;">
                    <a class="product-hover"
                        href="https://bookbuy.vn/news/1383/khuyen-mai-xppen-con-loc-sieu-soc-giam-gia-len-den-1-500-000d.html">
                        <i class="icon-link"></i>
                        XEM NGAY
                    </a>
                </div>

                <div class="namekhuyenmai">
                    <h4><span class="ng-binding" style="padding: 5px;
                        color: #DB2704;
                        margin-bottom: 5px;
                        font-weight: 700;">XPPEN CƠN LỐC SIÊU SỐC</span></h4>
                </div>
                <span class="time-line ng-binding" style="color: #F97D00;
                margin-right: 10px;">
                    Từ: 01/10/2022
                </span>
                <span class="time-line ng-binding" style="color: #F97D00;
                margin-right: 10px;">Đến: 25/10/2022</span>

            </div>
        </div>
    </div>
</body>
<!-- Link Bootstrap JS và Popper.js (đối với dropdown, tooltip, và popover) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.8/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</html>